apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: jenkins
  namespace: default
spec:
  serviceName: "jenkins"
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      serviceAccountName: default
      containers:
        - name: jenkins
          image: jenkins/jenkins:jdk21
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
            - containerPort: 50000
          env:
            - name: JAVA_OPTS
              value: "-Xmx2048m -Djava.awt.headless=true"
          resources:
            requests:
              memory: "1024Mi"
              cpu: "200m"
            limits:
              memory: "2560Mi"
              cpu: "2000m"
          volumeMounts:
            - name: nfs-storage
              mountPath: /var/jenkins_home
              subPath: jenkins
      volumes:
        - name: nfs-storage
          persistentVolumeClaim:
            claimName: nfs-main-pvc
